.search-form
    input(
        type="text"
        onkeyup="validarButton(this.value);"
        class="awesomplete"
        id="InputSearch"
    )
    button(
        id ="buttonSearch"
        disabled="true"
    ) Buscar